body {
    background-color: #777;
    width: 1500px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 200%;
    background-color:#ebebeb;
    float: auto;
    padding: 25px;
    margin-top: 10px;   
}

nav {
    text-align: center;
    font-size: 200%;
    background-color:#ebebeb;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: auto;
}

section{
    text-align: center;
    float: left;
    width: 745px;
    background-color: #ebebeb;
    padding: 75px 100px;
    margin-right: 5px;
    overflow: auto;
}

#article {
    padding: 25px;
    margin: auto;
    background-color: #777;
}

h1, p {
    font-size: 12px;
    background-color:#777;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    
}

aside{
    text-align: center;
    float: right;
    width: 745px;
    background-color: #ebebeb;
    padding: 75px 100px;
    margin-left:  5px;
    height: 380px;
}

footer {
    background-color: #ebebeb;
    padding: 40px;
    clear:both;
    margin-top: 10px;
    text-align: center;
}

.clear-fix {
    clear:both;
}